<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'mystyle.css'%}">
</head>
<body>
{% load staticfiles %}
<div class="w3-col m12">
<div class="w3-col m3">
    <img src="{%  %}">
</div>
</div>
<div class="w3-container w3-padding w3-bar w3-sand">
    <div class="w3-col m12">
        <div class="w3-col m3">
            <div class="w3-col m12">
            <a href="#" class="w3-bar-item w3-button w3-mobile w3-green w3-hover-green"><FONT face="chiller">LAW AND ORDER</FONT></a>

            </div>

        </div>
        <div class="w3-col m9">
             <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-sand">Home</a>
             <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-sand">About Us</a>
              <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-sand">Porfolio</a>
              <div class="w3-dropdown-hover w3-mobile">
                <button class="w3-button w3-hover-sand">Login<i class="fa fa-caret-down "></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
                  <a href="#" class="w3-bar-item w3-button w3-mobile">Admin</a>
                  <a href="#" class="w3-bar-item w3-button w3-mobile">Detective</a>
                  <a href="#" class="w3-bar-item w3-button w3-mobile">Police Officer</a>
                </div>
        </div>
    </div>


  </div>
</div>
</body>
</html>